backend-server/node-red/flows.json
[
    {
        "id": "flow-main-001",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "mqtt-in-node-001",
        "type": "mqtt in",
        "z": "flow-main-001",
        "name": "MQTT JSON in",
        "topic": "meshtastic/mesh/collserola/message",
        "qos": "1",
        "datatype": "auto",
        "broker": "mqtt-broker-tls-001",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 100,
        "y": 100,
        "wires": [
            [
                "parse-json-node-001"
            ]
        ]
    },
    {
        "id": "parse-json-node-001",
        "type": "json",
        "z": "flow-main-001",
        "name": "Parse JSON",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 300,
        "y": 100,
        "wires": [
            [
                "debug-json-001",
                "26d8c904d451495f"
            ]
        ]
    },
    {
        "id": "influxdb-node-001",
        "type": "influxdb out",
        "z": "flow-main-001",
        "influxdb": "influxdb-config-001",
        "name": "To InfluxDB",
        "measurement": "collserola_sensors",
        "precision": "",
        "retentionPolicy": "",
        "database": "sensor_data",
        "retentionPolicyV18Flux": "",
        "org": "ProjecteEspVRna",
        "bucket": "sensor_data",
        "x": 710,
        "y": 100,
        "wires": []
    },
    {
        "id": "debug-json-001",
        "type": "debug",
        "z": "flow-main-001",
        "name": "Debug JSON",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 300,
        "y": 200,
        "wires": []
    },
    {
        "id": "debug-valid-001",
        "type": "debug",
        "z": "flow-main-001",
        "name": "Debug Error",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 200,
        "wires": []
    },
    {
        "id": "26d8c904d451495f",
        "type": "function",
        "z": "flow-main-001",
        "name": "Validate Data",
        "func": "if (msg.payload.temperature !== undefined &&\n    msg.payload.humidity !== undefined &&\n    msg.payload.pressure !== undefined) {\n    msg.valid = true;\n} else {\n    msg.valid = false;\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 100,
        "wires": [
            [
                "check-valid-switch"
            ]
        ]
    },
    {
        "id": "check-valid-switch",
        "type": "switch",
        "z": "flow-main-001",
        "name": "Check Valid",
        "property": "valid",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 620,
        "y": 100,
        "wires": [
            [
                "influxdb-node-001"
            ],
            [
                "debug-valid-001"
            ]
        ]
    },
    {
        "id": "mqtt-broker-tls-001",
        "type": "mqtt-broker",
        "z": "flow-main-001",
        "name": "MQTT Broker TLS",
        "broker": "mqtt-broker",
        "port": "8883",
        "tls": "",
        "clientid": "node-red-iot",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "meshtastic/mesh/collserola/node-red/status",
        "birthQos": "1",
        "birthPayload": "{\"status\":\"online\",\"timestamp\":\"2026-01-26T13:30:00Z\",\"service\":\"node-red\"}",
        "birthMsg": {},
        "closeTopic": "",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "influxdb-config-001",
        "type": "influxdb",
        "hostname": "influxdb",
        "port": "8086",
        "version": "2.0",
        "organization": "ProjecteEspVRna",
        "bucket": "sensor_data",
        "name": "InfluxDB Local",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "2.0",
        "url": "http://influxdb:8086",
        "timeout": "",
        "rejectUnauthorized": false
    },
    {
        "id": "34d63e65e9944280",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-contrib-influxdb": "0.7.0"
        }
    }
]