backend-server/node-red/flows.json
[
    {
        "id": "791557dc3291c292",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "561e26678b9e109f",
        "type": "mqtt in",
        "z": "791557dc3291c292",
        "name": "MQTT JSON in",
        "topic": "meshtastic/mesh/collserola/message",
        "qos": "1",
        "datatype": "auto",
        "broker": "mqtt-broker-config",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 280,
        "wires": [
            [
                "2793e4aad829f5a7"
            ]
        ]
    },
    {
        "id": "2793e4aad829f5a7",
        "type": "json",
        "z": "791557dc3291c292",
        "name": "Parse JSON",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 380,
        "y": 280,
        "wires": [
            [
                "107a841e726e992e",
                "8211e1e1ee96e0a4"
            ]
        ]
    },
    {
        "id": "107a841e726e992e",
        "type": "switch",
        "z": "791557dc3291c292",
        "name": "Check Valid",
        "property": "payload.temperature",
        "propertyType": "msg",
        "rules": [
            {
                "t": "exists"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 580,
        "y": 280,
        "wires": [
            [
                "63a8f30a26d0c712",
                "8f5a2f6f0911be5b"
            ]
        ]
    },
    {
        "id": "63a8f30a26d0c712",
        "type": "influxdb out",
        "z": "791557dc3291c292",
        "influxdb": "influxdb-config",
        "name": "To InfluxDB",
        "measurement": "collserola_sensors",
        "database": "iot",
        "x": 780,
        "y": 280,
        "wires": []
    },
    {
        "id": "8211e1e1ee96e0a4",
        "type": "debug",
        "z": "791557dc3291c292",
        "name": "Debug JSON",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 380,
        "y": 380,
        "wires": []
    },
    {
        "id": "8f5a2f6f0911be5b",
        "type": "debug",
        "z": "791557dc3291c292",
        "name": "Debug Valid",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 780,
        "y": 380,
        "wires": []
    },
    {
        "id": "mqtt-broker-config",
        "type": "mqtt-broker",
        "name": "MQTT Broker TLS",
        "broker": "mqtt-broker",
        "port": "8883",
        "clientid": "node-red-iot",
        "autoConnect": true,
        "usetls": true,
        "keepalive": 60,
        "cleansession": true,
        "birthTopic": "",
        "birthQos": 0,
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": 0,
        "closePayload": "",
        "willTopic": "",
        "willQos": 0,
        "willPayload": ""
    },
    {
        "id": "influxdb-config",
        "type": "influxdb",
        "hostname": "influxdb",
        "port": "8086",
        "database": "iot",
        "name": "InfluxDB Local",
        "influxdbVersion": "1.x"
    },
    {
        "id": "39de3453e1225449",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-contrib-influxdb": "0.7.0"
        }
    }
]